*{
    margin: 0;
    padding: 0;
    border: 0;
}
h1, .h1{
    color: #333456;
    font-family: 'Varela', cursive;
}
body{
    background: #fff;
    color: #72738E !important;
    font-family: 'Roboto', sans-serif;
}
header, #header, div.down{
    background: #f5f5f8;
    padding: 4em;
    padding-top: 1em;
}
.nav-item a span{
    display: inline-block;
    background: #CDCED7;
    width: 15px;
    height: 15px;
    border-radius: 100%
}
.form-group button {
    margin: 3px;
    width: 120px;
    height: 50px;
    border-radius: 50px;
}
.form-group .login{
    background-color: transparent;
}
.form-group .join{
    background-color: #E7E8EB;
}
.form-group .login:hover{
    background-color: #E7E8EB;
}
.form-group .join:hover{
    background-color: rgb(196, 200, 214);
}
section.banner{
    margin-left: auto;
    margin-right: auto;
}
.rd{
    height: 100%;
}
.form-input-phone{
    margin-left: 0;
    color: #BFC0CB;
    height: 3em;
    width: 15em;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #72738E;
}
.form-inline .gt-started{
    margin: 3px;
    width: 150px;
    height: 60px;
    padding: 15px;
    border-radius: 50px;
    background-color: #72738E;
    color: #f5f5f8;
}

.get-started h1{
    font-size: 4rem;
}
.get-started p{
    margin-top: 2.5em;
    margin-bottom: 2em;
    font-size: 1.2rem;
    font-weight: lighter;
    color: rgb(142, 143, 163);
}
.x{
    position: relative;
    top: 45%;
    left: 46%;
    width: 300px;
    height: 1px;
    margin-top: -.5px;
    margin-left: -100px;
    background-color: rgb(98, 98, 102);
}
.x.xx{
    transform: rotate(45deg);
}
.x.xy{
    transform: rotate(135deg);
}
.container{
    padding-top: 0 !important;
    padding-right: 0 !important;
}
section#partner{
    padding: 0;
    margin: 0;
}
#partner{
    position: relative;
    top: -100px;
    width: 75%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 6em;
}
#partner .partners{
    background-color: #fff !important;
    display: inline-block;
    padding: 0;
    margin: 0;
    widows: auto;
}
#partner .partners .col-2{
    height: 87px;
    width: 187px;
}
div .partner-down{
    margin: 0;
    min-height: 100%;
    width: 260px;
    background: #f5f5f8 !important;
    height: 89px;
}
.partner-down i{
    font-size: 0.8rem;
    position: relative;
    left: 50%;
    top: 0%;
    font-weight: lighter;
    padding-top: 49px;
    padding-bottom: 49px;
}
.rev-div{
    position: relative;
}
.rev-div .rev-img{
    margin: 5em;
    border-radius: 100%;
    width: auto;
}
.rev-div .review{
    width: 400px;
    background-color: #333456;
    padding: 2em;
    position: absolute;
    bottom: -30px;
    left: 100px;
}
.rev-div .review .quote{
    font-size: .8em;
    padding: 1em;
    border-left: .15em solid #72738E;
    
}
.sml-img{
    border-radius: 100%;
}
.rev-div .review .quoter div h6{
    color: #c2c2cc
}
.rev-div .review .quoter .col-md-6 .stars{
    display: inline-block;
    padding-left: 1.2em;
}
#about div.h3{
    margin-top: 5em;
}
div.h3 div.hr{
    display: inline-block;
    border-top: 1px solid;
    width: 80px;
    position: relative;
    top: -6px;
    margin-left: .41em;
    margin-right: .41em;
}
div.h3 span{
    font-size: .5em;
    font-weight: bolder;
}
div.row .h1{
    font-weight: bolder;
    margin-bottom: 2em;
}
#about .about{
    width: 65%;
}
#about.abt-txt{
    margin-bottom: 3em;
}
.a{
    color: #333456;
    font-weight: bolder;
}
section#how-it-works{
    padding: 2em;
    margin: 3em;
}
#how-it-works .info{
    width: 100%;
}
#how-it-works span.h1{
    padding-top: 1.5em; 
}
#how-it-works a{
    font-size: 0.7em;
    margin-top: 30px;
}
#order{
    text-align: center;
    padding: 2em;
}
.ord-1, .ord-2, .ord-3, .ord-4{
    padding: 1em;
    border-bottom: 1px solid;
}
.ord-2, .ord-4{
    position: relative;
    top: 40px;
}
#order .o{
    margin-bottom: 1em;
}
#order h4{
    font-size: 1.6em;
}
#order p{
    font-size: 0.9em;
}
#order .o-img{
    width: 65px;
    border-radius: 100%;
    margin-right: auto;
    margin-left: auto;
}
#order .o-img img{
    border-radius: 100%;
}
#order .ord-2 p{
    margin-bottom: 4em;
}
#order .ord-1 p{
    margin-bottom: 2em;
}
#service{
    margin-top: 6em;
    padding-top: 8rem;
}

#service .img-cont{
    z-index: 1;
}
#service .serve{
    position: relative;
    top: 5em;
    right: 1.8em;
    width: 100%;
    height: 100%;
    background-color: #333456;
}
#service .serve-sect{
    transform: translateY(100px)
}
#service .col-md-7 .row{
    height: 40px;
    margin-bottom: 1em;
}
.serve h4.h1{
    font-size: 2em;
    color: white;
    height: 40px;
    margin-bottom: 1em;
}
.serve h6{
    height: 15px;
}
#service ul{
    list-style: none;
    margin-bottom: 1em;
}
#service ul li:before{
    content: "\2713\0020";
    padding: 1em;
}
#service ul li span{
    font-weight: bolder;
    color: #fff;
}
#service ul li p{
    margin-left: 3em;
}
#service a{
    color: white;
    font-size: .8rem;
}
#service .int{
    
    padding-top: 1em;
    border-top: 1px solid;
}
/* Media queries */
@media only screen and (max-width: 650px) {
    body{
        max-width: 97vw;
    }
    .container{
        max-width: 97%;
    }
    header, #header, div.down{
        text-align: center;
        padding: 5px;
        margin: 0;
        max-width: 100%;
    }
    .get-started h1{
        font-size: 2.4rem;
    }
    .get-started form .form-input-phone{
        margin-left: auto;
        margin-right: auto;
    }
    .get-started form .gt-started{
        margin-left: auto;
        margin-right: auto;
        margin-top: 3em;
    }
    
    #partner{
        position: static;
        max-width: 100%;
        height: auto;
        overflow-x: auto;
    }
    #partner .partners div{
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 200px;
        margin-left: 5px;
    }
    div .partner-down{
        height: 32px;
        width: 67px;
    }
    .partner-down i{
        position: static;
        font-size: .6rem;
        font-weight: lighter;
        padding: 0;
    }
    section#about{
        max-width: 100%;
        text-align: center;
    }
    .rev-div{
        margin: 0;
    }
    .rev-div .rev-img{
        margin: 0;
        padding: 0;
    }
    .rev-div .review{
        width: 350px;
        background-color: #333456;
        /* padding: 2em; */
        position: relative;
        top: 0px;
        left: 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    section#about .quot{
        padding: 0;
        margin: 0;
    }
    .rev-div .review .quoter{
        font-size: 0.8em;
    }
    .quoter .rv{
        margin-top: 1em;
    }
    #about div.h3{
        margin-top: 0em;
        margin-top: 0em;
        margin-left: auto;
        margin-right: auto;
    }
    #about .int{
        text-align: left;
    }
    div.h3 div.hr{
        display: inline-block;
        border-top: 1px solid;
        width: 50px;
        position: relative;
        top: -6px;
        margin-left: .41em;
        margin-right: .41em;
    }
    div.h3 span{
        font-size: .5em;
        font-weight: bolder;
    }
    #about .about{
        margin-top: 3em !important;
        width: 100%;
        padding: 1.5em;
        margin-left: auto;
        margin-right: auto;
    }
    div.row.h1{
        text-align: center;
    }
    div.row .h1{
        font-size: .8em;
        font-weight: bolder;
        margin-bottom: .4em;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #about .about p{
        padding: 1em;
    }
    #about .int{
        padding-left: 3em;
    }
    section#how-it-works{
        text-align: center;
        padding: 0;
    }
    #how-it-works div.row{
        margin-left: auto;
        margin-right: auto;
    }
    #how-it-works .int{
        text-align: left;
    }
    #how-it-works a{
        font-size: .8em;
    }
    #order .ord-2 p{
        margin-bottom: 0em;
    }
    #order .ord-1 p{
        margin-bottom: 0em;
    }
    .ord-2, .ord-4{
        position: static;
    }
    #service{
        margin: 0;
        padding: 0;
        text-align: left;
    }
    #service .img-cont{
        display: none;
    }
    #service .serve{
        position: static;
        width: 100%;
        height: auto;
        background-color: #333456;
    }
    #service .serve-sect{
        transform: translateY(0)
    }
    #service .serve-sect .row{
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 720px){
    .container{
        max-width: 97% !important;
    }
    section{
        max-width: 97%;
        padding: 20px;
        text-align: center;
        margin: 0;
        margin-top: 2em;
    }
    section.banner .side {
        display: none;
    }
    section#how-it-works{
        text-align: center;
        padding: 2em;
        margin: 0em;
    }
    #how-it-works .info{
        width: 100%;
    }
    #how-it-works .info .how1, #how-it-works .info .how2, #how-it-works .info .how3{
        margin-bottom: 4em;
    }
    #how-it-works .info .how1 span.h1{
        font-size: 2em;
    }
}